<div class="page-header">
  <h1>
    Expense detail
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        
        <th>Description</th>
        <th>Detail</th>
        <th>Expense amount</th>
        <th>Actions</th>

      </tr>
      <% @deputy_expenses_parsed_data.each do |expense| %>
      <tr>

        <td><%= expense["descricao"]%></td>
        <td><%= expense["detalhe"]%></td>
        <td><%= number_to_currency(expense["totalGasto"], unit: "R$", precision: 0) %></td>
        <td>
          <a href="/deputies" class="btn btn-danger ">Red flag</a>
          <a href="/deputies" class="btn btn-info ">Comment</a>
        </td>
      </tr>
      <%end  %>
    </table>
  </div>
</div>
